.sidebar{

width:260px;
height:100vh;

background:linear-gradient(180deg,#0f172a,#020617);

color:white;

padding:25px;

position:fixed;

}

.menu{

display:block;

padding:12px;

margin:10px 0;

background:#1e293b;

border-radius:8px;

text-decoration:none;

color:white;

}

.menu:hover{

background:#3b82f6;

}

.logout{

margin-top:30px;

width:100%;

padding:12px;

background:#f44f4f;

border:none;

color:white;

border-radius:8px;

}

.admin-content{

margin-left:260px;

padding:40px;

background:#f1f5f9;

min-height:100vh;

}